---
// src/components/Article.astro
interface Props {
  title: string;
  author?: string;
}

const { title, author } = Astro.props;
---

<article>
  <h1>{title}</h1>
  {author && <p class="author">{author}</p>}
  <slot />
</article>

<style>
  article {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    counter-reset: sidenote-counter;
  }

  article p, article footer, article table {
    width: var(--text-width);
  }

  .author {
    font-style: italic;
    margin-top: -1rem;
    margin-bottom: 2rem;
    color: var(--light-text-color);
  }
</style>
