---
// src/components/timeline.astro
---

<div class="timeline">
  <slot />
</div>

<style>
  .timeline {
    margin: 2rem 0 4rem;
    position: relative;
    overflow: visible;
    width: 100%;
  }
</style>