---
import '../styles/style.css';
import '../styles/et-book.css';  // Add this line

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Advancing the natural sciences" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    
  </head>
  <body>
    <div class="main-content">
      <slot />
    </div>
  </body>
</html>

<style>
  /* Any layout-specific styles can go here */
</style>
